/* Prevent default scrollbars while keeping scrollability */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  max-width: 390px;
  min-width: 250px;
}
